.carousel-item{
    width: 40%;
}

.modal .modal-dialog{
    min-width: 700px;
}

.modal .modal-body{
    display: flex;
    gap: 30px;
}

.modal form{
    width: 50%;
}

td img{
    width: 100px;
}